<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WASD_Vision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WASD_Vision.Properties.Settings>
            <setting name="Color" serializeAs="String">
                <value>Turquoise</value>
            </setting>
            <setting name="Layout" serializeAs="String">
                <value>WASD</value>
            </setting>
            <setting name="Layout_Custom_One_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_Two_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_Three_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_Four_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_Five_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_Q_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_W_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Layout_Custom_E_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_R_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_T_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_A_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Layout_Custom_S_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Layout_Custom_D_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Layout_Custom_F_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_G_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_Z_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_X_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_C_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_V_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_B_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layout_Custom_Space_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Protected_Words" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </WASD_Vision.Properties.Settings>
    </userSettings>
</configuration>